.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-dark-gray {
    background-color: darkgray;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-blue {
    color: rgb(29,161,242);
}

.wd-fg-color-gray {
    color: rgb(110, 118, 125);
}

.wd-padded-left-12 {
    padding-left: 12px;
}

.wd-padded-right-12 {
    padding-right: 12px;
}

.wd-padded-right-16 {
    padding-right: 16px;
}

.wd-padded-top-5 {
    padding-top: 5px;
}

.wd-padded-bottom-5 {
    padding-bottom: 5px;
}

.wd-padded-top-15 {
    padding-top: 15px;
}

.wd-padded-around-16 {
    padding: 16px;
}

.wd-rounded-corners-all-round {
    border-radius: 50px;
}

.wd-border-solid {
    border-style: solid;
}

.wd-border-black {
    border-color: black;
}

.wd-border-thin {
    border-width: 1px;
}

.wd-border-gray {
    border-color: rgb(47, 51, 54);
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-width-85 {
    width: 85%;
}

.wd-box {
    /*width: 10%;*/
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.wd-fontsize-15 {
    font-size: 15px;
}

.wd-font-size-13 {
    font-size: 13px;
}

.wd-new-line {
    clear: both;
}

.wd-image-border {
    border-radius: 20px;
}

.wd-div-height-80 {
    height: 80px;
}

.wd-div-height-110 {
    height: 110px;
}

.wd-underline-border {
    border-width: 0 0 2px 0;
    border-style: solid;
}

.wd-border-blue {
    border-color: rgb(29,161,242);
}

.wd-font-arial {
    font-family: Arial;
}
